# Core dependencies
numpy>=1.20
polars>=1.18
FlowIO>=1.0
#scipy>=1.7,<2.0

# Machine learning
#scikit-learn>=0.24,<1.0

# Visualization
matplotlib>=3.4,<4.0
seaborn>=0.11,<1.0
#umap-learn>=0.5.3

# Specialized tools
#FlowCal>=1.4.0
